USE [master]
GO
/****** Object:  Database [QLTIEMCHUNG]    Script Date: 5/1/2022 10:40:35 PM ******/
CREATE DATABASE [QLTIEMCHUNG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTIEMCHUNG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLTIEMCHUNG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTIEMCHUNG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLTIEMCHUNG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTIEMCHUNG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTIEMCHUNG]
GO
/****** Object:  Table [dbo].[CHITIETDANGKY]    Script Date: 5/1/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDANGKY](
	[MAPHIEUDANGKY] [char](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[TINHTRANG] [smallint] NULL,
	[MAVACXIN] [char](10) NOT NULL,
 CONSTRAINT [PK_CTDK] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDANGKY] ASC,
	[MAVACXIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETGOITIEM]    Script Date: 5/1/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETGOITIEM](
	[MAVACXIN] [char](10) NOT NULL,
	[MAGOI] [char](10) NOT NULL,
 CONSTRAINT [PK_CTGT] PRIMARY KEY CLUSTERED 
(
	[MAVACXIN] ASC,
	[MAGOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUDH]    Script Date: 5/1/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUDH](
	[MAPHIEUDH] [char](10) NOT NULL,
	[MAVACXIN] [char](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CTPDH] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDH] ASC,
	[MAVACXIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_TTDOT]    Script Date: 5/1/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_TTDOT](
	[MAHOADON] [char](10) NOT NULL,
	[LANTHANHTOAN] [int] IDENTITY(1,1) NOT NULL,
	[SOTIEN] [int] NULL,
	[SOTIENCONLAI] [int] NULL,
 CONSTRAINT [PK_CTTTD] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC,
	[LANTHANHTOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOITIEM]    Script Date: 5/1/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOITIEM](
	[MAGOI] [char](10) NOT NULL,
	[GIAGOI] [int] NULL,
	[SOLUONG] [int] NULL,
	[TENGOI] [nvarchar](30) NULL,
	[SLDAT] [int] NULL,
 CONSTRAINT [PK_GT] PRIMARY KEY CLUSTERED 
(
	[MAGOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/1/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [char](10) NOT NULL,
	[MAKHACHHANG] [char](10) NULL,
	[MANHANVIEN] [char](10) NULL,
	[LOAITHANHTOAN] [int] NULL,
	[NGAYLAP] [date] NULL,
	[NOIDUNG] [nvarchar](30) NULL,
	[TONGTIEN] [int] NULL,
	[SOTIENCONLAI] [smallint] NULL,
	[TINHTRANG] [smallint] NULL,
 CONSTRAINT [PK_HD] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/1/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [char](10) NOT NULL,
	[DIACHI] [nvarchar](60) NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[HOTEN] [nvarchar](40) NULL,
	[NGAYSINH] [date] NULL,
	[SODIENTHOAI] [char](10) NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAINHANVIEN]    Script Date: 5/1/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINHANVIEN](
	[MALOAI] [char](10) NOT NULL,
	[TENLOAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_LNV] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/1/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [char](10) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[BANGCAP] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](60) NULL,
	[EMAIL] [varchar](30) NULL,
	[LUONG] [int] NULL,
	[NGAYSINH] [date] NULL,
	[SODIENTHOAI] [char](11) NULL,
	[VITRI] [nvarchar](15) NULL,
	[LOAINHANVIEN] [char](10) NULL,
	[TRUNGTAM] [char](10) NULL,
 CONSTRAINT [PK_NV] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDANGKYTIEM]    Script Date: 5/1/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDANGKYTIEM](
	[MAPHIEUDANGKI] [char](10) NOT NULL,
	[NGAYDANGKI] [date] NULL,
	[NGAYMUONTIEM] [date] NULL,
	[MAKHACHHANG] [char](10) NULL,
	[MATRUNGTAM] [char](10) NULL,
 CONSTRAINT [PK_PDKT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDANGKI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATHANG]    Script Date: 5/1/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATHANG](
	[MAPHIEU] [char](10) NOT NULL,
	[MANHANVIEN] [char](10) NULL,
	[NGAYLAP] [date] NULL,
	[NHACC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PDH] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANNHAN]    Script Date: 5/1/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANNHAN](
	[MAKHACHHANG] [char](10) NOT NULL,
	[HOTEN] [nvarchar](30) NOT NULL,
	[QUANHE] [nvarchar](15) NULL,
	[SODIENTHOAI] [char](10) NULL,
 CONSTRAINT [PK_TN] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRUNGTAM]    Script Date: 5/1/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUNGTAM](
	[MATRUNGTAM] [char](10) NOT NULL,
	[DIACHI] [nvarchar](30) NULL,
	[TENTRUNGTAM] [nvarchar](40) NULL,
 CONSTRAINT [PK_TT] PRIMARY KEY CLUSTERED 
(
	[MATRUNGTAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VACXIN]    Script Date: 5/1/2022 10:40:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VACXIN](
	[MAVACXIN] [char](10) NOT NULL,
	[TENVACXIN] [nvarchar](30) NULL,
	[GIATIEN] [int] NULL,
	[SOLUONGTON] [int] NULL,
	[SLDAT] [int] NULL,
 CONSTRAINT [PK_VC] PRIMARY KEY CLUSTERED 
(
	[MAVACXIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETDANGKY] ([MAPHIEUDANGKY], [SOLUONG], [TINHTRANG], [MAVACXIN]) VALUES (N'DK10166010', 6, 0, N'VX0000001 ')
INSERT [dbo].[CHITIETDANGKY] ([MAPHIEUDANGKY], [SOLUONG], [TINHTRANG], [MAVACXIN]) VALUES (N'DK36844997', 2, 0, N'VX0000001 ')
INSERT [dbo].[CHITIETDANGKY] ([MAPHIEUDANGKY], [SOLUONG], [TINHTRANG], [MAVACXIN]) VALUES (N'DK37598179', 2, 0, N'VX0000001 ')
GO
INSERT [dbo].[CHITIETGOITIEM] ([MAVACXIN], [MAGOI]) VALUES (N'VX00000001', N'GT00000001')
INSERT [dbo].[CHITIETGOITIEM] ([MAVACXIN], [MAGOI]) VALUES (N'VX00000001', N'GT00000002')
INSERT [dbo].[CHITIETGOITIEM] ([MAVACXIN], [MAGOI]) VALUES (N'VX00000001', N'GT00000003')
GO
SET IDENTITY_INSERT [dbo].[CT_TTDOT] ON 

INSERT [dbo].[CT_TTDOT] ([MAHOADON], [LANTHANHTOAN], [SOTIEN], [SOTIENCONLAI]) VALUES (N'HD33192705', 1, 2, NULL)
INSERT [dbo].[CT_TTDOT] ([MAHOADON], [LANTHANHTOAN], [SOTIEN], [SOTIENCONLAI]) VALUES (N'HD33192705', 4, 4, NULL)
INSERT [dbo].[CT_TTDOT] ([MAHOADON], [LANTHANHTOAN], [SOTIEN], [SOTIENCONLAI]) VALUES (N'HD46047586', 2, 2, NULL)
SET IDENTITY_INSERT [dbo].[CT_TTDOT] OFF
GO
INSERT [dbo].[GOITIEM] ([MAGOI], [GIAGOI], [SOLUONG], [TENGOI], [SLDAT]) VALUES (N'GT00000001', 4170000, 7, N'Gói vắc xin Hexaxim', 8)
INSERT [dbo].[GOITIEM] ([MAGOI], [GIAGOI], [SOLUONG], [TENGOI], [SLDAT]) VALUES (N'GT00000002', 4200000, 10, N'Gói vắc xin Hexaxim', 3)
INSERT [dbo].[GOITIEM] ([MAGOI], [GIAGOI], [SOLUONG], [TENGOI], [SLDAT]) VALUES (N'GT00000003', 4170000, 12, N'Gói vắc xin Pentaxim', 0)
GO
INSERT [dbo].[HOADON] ([MAHOADON], [MAKHACHHANG], [MANHANVIEN], [LOAITHANHTOAN], [NGAYLAP], [NOIDUNG], [TONGTIEN], [SOTIENCONLAI], [TINHTRANG]) VALUES (N'HD12515630', N'KH000002  ', N'NULL      ', 0, CAST(N'2022-05-01' AS Date), N'Một lần', 22, 0, 1)
INSERT [dbo].[HOADON] ([MAHOADON], [MAKHACHHANG], [MANHANVIEN], [LOAITHANHTOAN], [NGAYLAP], [NOIDUNG], [TONGTIEN], [SOTIENCONLAI], [TINHTRANG]) VALUES (N'HD33192705', N'KH000001  ', N'NV00000004', 0, CAST(N'2022-05-01' AS Date), N'Một lần', 11, 5, 1)
INSERT [dbo].[HOADON] ([MAHOADON], [MAKHACHHANG], [MANHANVIEN], [LOAITHANHTOAN], [NGAYLAP], [NOIDUNG], [TONGTIEN], [SOTIENCONLAI], [TINHTRANG]) VALUES (N'HD44815666', N'KH000001  ', N'NULL      ', 0, CAST(N'2022-05-01' AS Date), N'Một lần', 11, 0, 1)
GO
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [DIACHI], [GIOITINH], [HOTEN], [NGAYSINH], [SODIENTHOAI]) VALUES (N'KH000001  ', N'Quận 10, TP. HCM', N'Nam', N'Lương Văn Minh', CAST(N'1995-11-18' AS Date), N'0913458726')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [DIACHI], [GIOITINH], [HOTEN], [NGAYSINH], [SODIENTHOAI]) VALUES (N'KH000002  ', N'Quận 8, TP. HCM', N'Nam', N'Lê Anh Khoa', CAST(N'1997-04-23' AS Date), N'0918721468')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [DIACHI], [GIOITINH], [HOTEN], [NGAYSINH], [SODIENTHOAI]) VALUES (N'KH000003  ', N'Quận Bình Thạnh, TP. HCM', N'Nữ', N'Nguyễn Thị Châu', CAST(N'1993-01-14' AS Date), N'0974582135')
GO
INSERT [dbo].[LOAINHANVIEN] ([MALOAI], [TENLOAI]) VALUES (N'0         ', N'Y/Bác sĩ')
INSERT [dbo].[LOAINHANVIEN] ([MALOAI], [TENLOAI]) VALUES (N'1         ', N'Tiếp tân')
INSERT [dbo].[LOAINHANVIEN] ([MALOAI], [TENLOAI]) VALUES (N'2         ', N'Kế toán')
GO
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HOTEN], [BANGCAP], [DIACHI], [EMAIL], [LUONG], [NGAYSINH], [SODIENTHOAI], [VITRI], [LOAINHANVIEN], [TRUNGTAM]) VALUES (N'NV00000001', N'Nguyễn Kiều Trinh', N'Cử nhân', N'Bình Thạnh, Hồ Chí Minh', N'nktrinh@gmail.com', 5000000, CAST(N'1997-11-11' AS Date), N'0987254863 ', N'Nhân viên', N'1         ', N'TT00000001')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HOTEN], [BANGCAP], [DIACHI], [EMAIL], [LUONG], [NGAYSINH], [SODIENTHOAI], [VITRI], [LOAINHANVIEN], [TRUNGTAM]) VALUES (N'NV00000002', N'Trần Văn Bình', N'Cử nhân', N'Quận 4, Hồ Chí Minh', N'tvcuong@gmail.com', 5000000, CAST(N'1997-03-04' AS Date), N'0918628741 ', N'Nhân viên', N'1         ', N'TT00000002')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HOTEN], [BANGCAP], [DIACHI], [EMAIL], [LUONG], [NGAYSINH], [SODIENTHOAI], [VITRI], [LOAINHANVIEN], [TRUNGTAM]) VALUES (N'NV00000003', N'Thái Hùng Tâm', N'Cử nhân', N'Quận 3, Hồ Chí Minh', N'thtam@gmail.com', 4500000, CAST(N'1995-12-05' AS Date), N'0918741235 ', N'Nhân viên', N'2         ', N'TT00000001')
GO
INSERT [dbo].[PHIEUDANGKYTIEM] ([MAPHIEUDANGKI], [NGAYDANGKI], [NGAYMUONTIEM], [MAKHACHHANG], [MATRUNGTAM]) VALUES (N'DK10166010', CAST(N'2022-05-01' AS Date), CAST(N'2022-05-01' AS Date), N'KH000002  ', N'TT00000001')
INSERT [dbo].[PHIEUDANGKYTIEM] ([MAPHIEUDANGKI], [NGAYDANGKI], [NGAYMUONTIEM], [MAKHACHHANG], [MATRUNGTAM]) VALUES (N'DK25297193', CAST(N'2022-05-01' AS Date), CAST(N'2022-05-01' AS Date), N'KH000001  ', N'TT00000001')
INSERT [dbo].[PHIEUDANGKYTIEM] ([MAPHIEUDANGKI], [NGAYDANGKI], [NGAYMUONTIEM], [MAKHACHHANG], [MATRUNGTAM]) VALUES (N'DK26529112', CAST(N'2022-05-01' AS Date), CAST(N'2022-05-01' AS Date), N'KH000002  ', N'TT00000001')
GO
INSERT [dbo].[THANNHAN] ([MAKHACHHANG], [HOTEN], [QUANHE], [SODIENTHOAI]) VALUES (N'KH000004  ', N'Nguyễn Giang Châu', N'Mẹ', N'0913458726')
INSERT [dbo].[THANNHAN] ([MAKHACHHANG], [HOTEN], [QUANHE], [SODIENTHOAI]) VALUES (N'KH000007  ', N'Ngô Gia Khiêm', N'Ba', N'0923458726')
INSERT [dbo].[THANNHAN] ([MAKHACHHANG], [HOTEN], [QUANHE], [SODIENTHOAI]) VALUES (N'KH33924161', N'Vu Tri?u Vu ', N'Cha', N'0898684502')
GO
INSERT [dbo].[TRUNGTAM] ([MATRUNGTAM], [DIACHI], [TENTRUNGTAM]) VALUES (N'TT00000001', N'Quận 3, TP.HCM', N'Trung tâm 1')
INSERT [dbo].[TRUNGTAM] ([MATRUNGTAM], [DIACHI], [TENTRUNGTAM]) VALUES (N'TT00000002', N'Quận Bình Thạnh, TP.HCM', N'Trung tâm 2')
INSERT [dbo].[TRUNGTAM] ([MATRUNGTAM], [DIACHI], [TENTRUNGTAM]) VALUES (N'TT00000003', N'Quận 2, TP.HCM', N'Trung tâm 3')
GO
INSERT [dbo].[VACXIN] ([MAVACXIN], [TENVACXIN], [GIATIEN], [SOLUONGTON], [SLDAT]) VALUES (N'VX0000001 ', N'Rotarix', 11, 4, 0)
INSERT [dbo].[VACXIN] ([MAVACXIN], [TENVACXIN], [GIATIEN], [SOLUONGTON], [SLDAT]) VALUES (N'VX00000010', N'Varirlrix', 11, 0, 0)
INSERT [dbo].[VACXIN] ([MAVACXIN], [TENVACXIN], [GIATIEN], [SOLUONGTON], [SLDAT]) VALUES (N'VX00000011', N'Imojev', 11, 24, 0)
GO
USE [master]
GO
